*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-transform: capitalize;
}



body{
background-color: antiquewhite;
height: 200vh;
position: relative;
direction: rtl;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: .5rem 1rem  ;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    direction: ltr;
    z-index: 1111;

}
nav ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
nav .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}
nav img{
    width: 3rem;
    border-radius: 50%;
}

/* start container */
.container-swar{
    padding: 4.5rem 2rem 7rem 2rem;
    display: grid;
    place-items: center;
    position: relative;
}
.container-swar div{
    margin-bottom: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    padding:.5rem 1rem ;
    transition: all .4s linear;
    width: calc(70% - 100px);
    cursor: pointer;
    color: rgb(45, 43, 43);
    font-weight: bold;
    border-radius: 30px;
    position: relative;
    counter-increment: surah-counter;
}
.container-swar div::before{
position: absolute;
content: counter(surah-counter);
left: -2.7rem;
width: 2rem;
height: 2rem;
background-color: inherit;
box-shadow: inherit;
transition: inherit;
border-radius: 50%;
font-size: 15px;
text-align: center;
line-height: 2rem;

}
.container-swar div::after{
    position: absolute;
    content: "";
    border : 10px solid ;
    border-color: transparent gray transparent transparent;   
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1rem;
}
.container-swar div:hover,.container-swar div:hover::before{
    background:linear-gradient( to bottom ,#000, #858576) ;
    color: #fff;
}
.container-swar div:hover::after{
border-right-color: #848461;
}
/*start bottom */
.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.bottom .ayah{
 
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
    max-height: 19vh;
    overflow-y: scroll;

}
.bottom .audio-player{
    width: 70%;
    height: 30px;
}
.bottom .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
}
.bottom .button .icon{
background-color: white;
color: gray;
padding: 3px;
border-radius: 50%;
width: 30px;
height: 30px;
display: grid;
place-items: center;
cursor: pointer;
transition: .4s linear;
}


.bottom .button .icon:hover{
    background-color: #d1cfcf;
    
}

@media (max-width:600px) {
    .container-swar div{
        width: 90%;
       
    }
    .container-swar{
        margin: 0 auto;
        padding-right: 0;
    }
    
}
@media(max-width:422px){
    header{
        font-size: 1rem;
    }
    nav ul{
       
        gap: 2rem;
    }
   nav .logo{
        font-size: 1rem;
    }
}